body{
    font-family: 'Poppins', sans-serif;
}
.button{
    height: 35px;
    width: 80px;
    background-color:#21B573;
    border-radius: 20px;
    size:10px;
    color:white;
}
.navbar{
    background-color: #F0FFF0;
    padding-left: 50px;
    padding-right: 50px;
}
span{
    color: green;
}
h1{
    font-size:40px;    
}
h6{
    font-size: small;
    color:#FD511A;
}
p{
    font-size: smaller;
    color:grey;
}
.row{
    background-color:#F0FFF0;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    float: left;
    align-items:center;
}
.button2{
    height: 35px;
    width: 150px;
    background-color:#21B573;
    border-radius: 20px;
    size:10px;
    color:white;
}
.box{
    text-align: center;
    padding-top: 50px;
    float: left;
    column-count: 4;
}
.card{
    background-color: #F8FFFB;
    align-items: center;
    border-radius: 5px;
    
}
.card img{
    width: 40%;
    padding-left: 20px;
    padding-top: 10px;
}

.online{
        padding-left: 480px;
        padding-top: 100px;
        padding-bottom: 50px;
        
}
.card-footer{
    color:white;
    height: 50px;
    width: 100%;
    float: left;

}
.text-muted img{
    width:15%;
    
}
.card-group{
    background-color: white;
}
.testimonial{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 480px;
}
.bottom{
    background-color: #282531;
    padding-left: 20px;
    
}
h2, h4{
    font-size:small;
    color: white;
}
ul{
    text-decoration: none;
}
footer{
    background-color: #282531;
    padding-left: 400px;
    padding-bottom: 10px;
    margin: auto;
}
